@charset "UTF-8";

.html{
    background-color: #1C2237;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
body{
    width: 90%;
    margin: 0 auto;
}
h1{
    font-size: 60px;
}
header{
    height: 50px;
    margin-top: 20px;
}
nav{
    float: right;
    margin-right: 0%;
}
nav li{
    font-size: 30px;
    font-weight: bold;
    list-style: none;
    display: flexbox;
    float: left;
    padding-left: 20px;
}
/* begin{fade-animation} */
.effect-fade {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all 1s;
    transition-delay: 1s;
}
.effect-fade.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
}
/* end{fade-animation} */
.hd-main{
    line-height: 80px;
    margin-bottom: 200px;
}
.color-changed{
    color: #196DF9;
}
.contents{
    height: 200px;
    margin-bottom: 50px;
}
.column{
    width: 45%;
    height: 200px;
    background-color: aqua;
    float: left;
    display: flexbox;
    margin-right: 70px;

}
footer{
    height: 50px;
    color: gray;
    margin-bottom: 50px;
}
footer .footer-left p{
    float: left;
    line-height: 50px;
    margin: 0;
}
footer ul li{
    float: right;
    list-style: none;
    display: flexbox;
    padding-left: 20px;
    line-height: 50px;
    width: 50px;
}

/* KEYFRAMES */

@keyframes spin {
from {
    transform: rotate(0);
}
to{
    transform: rotate(359deg);
}
}

@keyframes spin3D {
from {
    transform: rotate3d(.5,.5,.5, 360deg);
}
to{
    transform: rotate3d(0deg);
}
}

@keyframes configure-clockwise {
0% {
    transform: rotate(0);
}
25% {
    transform: rotate(90deg);
}
50% {
    transform: rotate(180deg);
}
75% {
    transform: rotate(270deg);
}
100% {
    transform: rotate(360deg);
}
}

@keyframes configure-xclockwise {
0% {
    transform: rotate(45deg);
}
25% {
    transform: rotate(-45deg);
}
50% {
    transform: rotate(-135deg);
}
75% {
    transform: rotate(-225deg);
}
100% {
    transform: rotate(-315deg);
}
}

@keyframes pulse {
from {
    opacity: 1;
    transform: scale(1);
}
to {
    opacity: .25;
    transform: scale(.75);
}
}

/* begin{loading_display} */
#loading_display{
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #1C2237;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
/* Hide Loading Block */
.loaded {
    opacity: 0;
    visibility: hidden;
  }

/* GRID STYLING */
.spinner-box {
    margin: 0 auto;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-bottom: 100px;
}

.leo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.blue-orbit {
    width: 50%;
    height: 50%;
    border: 1px solid #91daffa5;
    animation: spin3D 4s linear .2s infinite;
}

.green-orbit {
    width: 40%;
    height: 40%;
    border: 1px solid #91ffbfa5;
    animation: spin3D 3s linear 0s infinite;
}

.red-orbit {
    width: 30%;
    height: 30%;
    border: 1px solid #ffca91a5;
    animation: spin3D 2s linear 0s infinite;
}

.white-orbit {
    width: 15%;
    height: 15%;
    border: 2px solid #ffffff;
    animation: spin3D 5s linear 0s infinite;
}

.w1 {
    transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
    transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
    transform: rotate3D(.5, 1, 2, 90deg);
}

/* begin{loading_title} */
@keyframes bulge {
    50% {
        box-shadow: 0 20px 0 #eee;
        transform: translateY(-35px);
    }
}

.loading_title{
    display: flex;
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    height: 100px;
}

.loading_title span{
    height: 100;
    padding: 0 20px;
    line-height: 100px;
    background-color: rgba(90, 130, 190, 0.5);
    animation: bulge 2s infinite;
}
/* end{loading_title} */
/* end{loading_display} */